<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${selectedReview.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- <style>
    
    
    
    
    
    </style> -->
    <link href="style.css" rel="stylesheet" />
</head>
<body>
    <h1 th:text="${selectedReview.title}"></h1>
    <p th:text="'By ' + ${selectedReview.author}" />
    <p th:text="${selectedReview.content}" />
    <p th:text="${selectedReview.date}" />
</body>
</html>